body {
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    font-family: 'Merriweather', serif;
    font-family: 'Outfit', sans-serif;
}

p {
    font-size: 15px;
}

img {
    height: 300px;
    border-radius: 5%;
}

.qr-code{
    border: 10px solid white;
    width: 300px;
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 5%;
    margin: 100px auto;
}

p {
    color: hsl(210, 3%, 58%);
}